{#
/**
 * @file example_content_entity.html.twig
 * Default theme implementation to present Example content entity data.
 *
 * This template is used when viewing Example content entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_example_content_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('example_content_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
